<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CampusCrowd Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div id="homePage">
    <header>
      <h1>
        Thanks for Using CampusCrowd!
      </h1>
      <h4>
        We use Wi-Fi data from UNCC's public Wi-Fi infrastructure to visualize what parts of campus are busiest at what times.
      </h4>
    </header>
    <div class="content">
      <h2>
        How it works:
      </h2>
      <p>
        We break the data up depending on what time someone connected to campus Wi-Fi in 1 hour intervals.<br>
        The user (you) is able to select what hour interval you want to view since the start of the day, with the button signifying the last hour.<br>
        As an example, if you select the "8 AM" button, you will see all the connections from 7:00-7:59 AM!<br>
        Additionally, you can use the Locations tab to have a table view of the information.<br>
        The Locations table allows you to search for individual buildings, and is also color coded depending on how busy the location is at that hour!<br>
        We are not psychics, therefore you are obviously unable to view any data from a future time in the day.<br>
      </p>
      <h2>Created By: ITSC 4155 Group 15</h2>
      <p>
        Zack Clements,
        Kyle Prindle,
        Jake Thakur,
        Mackenzie Teaster,
        Afif Mujipur-Rahman
      </p>
    </div>
    <a href="/index" class="timeButton">Get Started</a>
    <a href="https://github.com/ZackClements/CampusCrowd" class="timeButton"> Github</a>
  </div>

</body>
</html>